#browser {
  padding: 20px;
  overflow-y: scroll;
  transition: 0.3s ease-out;

  &:hover {
    &.quote {
      padding: 20px 100px;
    }
  }
}

.quote {
  background-color: lightyellow;

  & .zoom-in {
    display: none;
  } 
}

.quote-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & button {
    font-size: 16px;
    cursor: pointer;
    padding: 8px;
    border: none;
    border-radius: 8px;
    transition: 0.1s ease-out;

    & .download {
      max-width: 20px;
    }

    &:hover {
      background-color: rgba(119, 136, 153, 0.5);

      & .download {
        filter: invert(48%) sepia(25%) saturate(1006%) hue-rotate(200deg) brightness(118%)
          contrast(119%);
      }
    }
  }
}

#quote-builder {
  display: flex;
  height: 100vh;

  & #browser {
    width: 50em;
  }
}

.products {
  background-color: #BABD8D;
}

.spacer {
  content: '';
  width: 40em;
  height: 1px;
  background-color: darkgrey;
  margin: 25px 0;
}

#total {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  & input {
    width: 15em;
  }
}

input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 25px;
  display: grid;
  grid-template-columns: 10em 10em 10em;
  grid-gap: 25px;

  & .product {
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 8px;
    padding: 20px 10px 0 10px;
    min-height: 175px;
    transition: 0.1s ease-out;

    &.selected {
        background-color: #FFE0BA;
        border-color: #FFE0BA;
      }
    
      &:hover {
        background-color: #FFE0BA;
        border-color: #FFE0BA;
    
        & .zoom-in {
          display: block;
        }
      }

    & .product-image {
        position: relative;
        left: -10px;
        top: -20px;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
    }

    & .no-image {
      background-size: contain;
    }
  }
}

#total {
  & label {
    display: inline-block;
    min-width: 72px;
    text-align: right;
  }
}

.product {
  & div {
    font-weight: 600;
    margin-bottom: 5px;
  }

  & span {
    font-size: 12px;
    font-weight: 500;
  }
}

.product-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 156px;
  height: 156px;
  position: relative;
  top: -1px;
}

#portal {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 25em;
  height: fit-content;
  padding: 40px;
  background-color: rgba(11, 3, 45, 0.75);
  border-radius: 8px;
}

#portal-bg {
  background-color: rgba(128, 128, 128, 0.5);
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.pop-up-img {
  width: 25em;
}

.line-item {
  display: flex;
  background-color: lightgoldenrodyellow;
  padding: 10px 20px;

  & .no-image {
      background-size: contain;
      background-position: center left;
    }
}

.line-item-data {
  display: flex;
  flex-direction: column;
  margin: 10px 0 0 10px;
}

.image-wrapper {
  position: relative;
}

.zoom-in {
  position: absolute;
  bottom: 20px;
  right: -10px;
  max-width: 40px;
  z-index: 1;
  transition: 0.1s ease-out;

  display: none;
  & svg {
    fill: red;
  }
  &:hover {
    transform: scale(1.05);
  }
}

.close {
  cursor: pointer;
  width: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
  transition: 0.1s ease-out;
  filter: invert(100%);
  
  &:hover {
    transform: scale(1.05);
  }
}

@media print {
  button,
  img {
    display: none;
  }
}
