#browser {
  padding: 20px;
  overflow-y: scroll;
  transition: 0.3s ease-out;

  &:hover {
    &.quote {
      padding: 20px 100px;
    }
  }
}

.quote {
  background-color: lightyellow;

  & .zoom-in {
    display: none;
  } 
}

.quote-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & button {
    font-size: 16px;
    cursor: pointer;
    padding: 8px;
    border: none;
    border-radius: 8px;
    transition: 0.1s ease-out;

    & .download {
      max-width: 20px;
    }

    &:hover {
      background-color: rgba(119, 136, 153, 0.5);

      & .download {
        filter: invert(48%) sepia(25%) saturate(1006%) hue-rotate(200deg) brightness(118%)
          contrast(119%);
      }
    }
  }
}

#quote-builder {
  display: flex;
  height: 100vh;

  & #browser {
    width: 50em;
  }
}

.products {
  background-color: rgba(255, 160, 122, 0.5);
}

.spacer {
  content: '';
  width: 40em;
  height: 1px;
  background-color: darkgrey;
  margin: 25px 0;
}

#total {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  & input {
    width: 15em;
  }
}

input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
}

ul {
  list-style: none;
  margin: 0;
  display: grid;
  grid-template-columns: 10em 10em 10em;
  grid-gap: 15px;

  & .product {
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 20px 10px;
    margin: 20px 0;
    min-height: 100px;
    transition: 0.1s ease-out;

    &.selected {
      background-color: rgba(255, 160, 122, 0.5);
      border-color: lightseagreen;
    }

    &:hover {
      border-color: lightseagreen;

      & .zoom-in {
        display: block;
      }
    }
  }
}

#total {
  & label {
    display: inline-block;
    min-width: 72px;
    text-align: right;
  }
}

.product {
  & div {
    font-weight: 600;
    margin-bottom: 10px;
  }

  & span {
    font-size: 12px;
    font-weight: 500;
  }
}

.product-image {
  max-width: 100px;
  height: 100px;
  position: relative;
  bottom: 0;
  border-radius: 8px;
}

#portal {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 25em;
  height: fit-content;
  padding: 40px;
  background-color: rgba(173, 216, 230, 0.5);
  border-radius: 8px;
}

#portal-bg {
  background-color: rgba(128, 128, 128, 0.5);
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.pop-up-img {
  width: 25em;
}

.line-item {
  background-color: lightgoldenrodyellow;
  padding: 10px 20px;
}

.line-item-data {
  margin-top: 10px;
}

.image-wrapper {
  position: relative;
}

.zoom-in {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 40px;
  z-index: 1;
  transition: 0.1s ease-out;
  filter: invert(48%) sepia(50%) saturate(2006%) hue-rotate(120deg) brightness(80%) contrast(119%);
  display: none;

  &:hover {
    transform: scale(1.05);
  }
}

.close {
  cursor: pointer;
  width: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
  transition: 0.1s ease-out;
  
  &:hover {
    transform: scale(1.05);
  }
}

@media print {
  button,
  img {
    display: none;
  }
}
