#browser {
  padding: 20px;
}

#quote-builder {
  display: flex;
  height: 100vh;

  & #browser {
    width: 50em;
  }
}

.products {
  background-color: rgba(255, 160, 122, 0.5);
}

.spacer {
  content: '';
  width: 40em;
  height: 1px;
  background-color: darkgrey;
  margin: 25px 0;
}

#total {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  
  & input {
    width: 15em;
  }
}

input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
}

ul {
  list-style: none;
  margin: 0;
  display: grid;
  grid-template-columns: 10em 10em 10em;
  grid-gap: 10px;

  & li {
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 20px 10px;
    margin: 20px 0;
    transition: 0.3s ease-out;

    &.selected {
      background-color: lightpink;
      border-color: lightpink;
    }

    &:hover {
      border-color: lightseagreen;
    }
  }
}

#total {
  & label {
      display: inline-block;
      min-width: 72px;
      text-align: right;
    }
}

